@import 'ow/imports'

.ow-app
	margin 0 auto
	width 1000px
	
	&-levels
		float left
		margin-right 50px
		width 150px
	
	&-level
		float left
		width 800px
		height 512px
		
		&[ow-blank]
			background transparent url(../images/finish.png) scroll 0 0 no-repeat
