@import 'ow/imports'

.ow-level
	position relative
	
	&-monitor
		background transparent none scroll 0 0 no-repeat
		float left
		width 512px
	
	&.o-siberia &-monitor
		background-image url(../images/bg-siberia.png)
	
	&-sidebar
		float left
		margin-left 10px
		width 278px
	
	&-arrest
		background transparent url(../images/arrest.png) scroll 0 0 no-repeat
		display inline-block
		size 36px 36px
		vertical-align top
		visibility hidden
		
		&.o-enabled
			visibility visible
	
	&-quest-time
		display inline-block
	
	&-arrest-cursor
		background transparent url(../images/arrest.png) scroll 0 0 no-repeat
		pointer-events none
		position absolute
		size 36px 36px
