@import 'ow/imports'

.ow-level-badge
	background transparent url(../images/badge.png) scroll 0 0 no-repeat
	font-family "Comic Sans MS",sans-serif
	font-size 16px
	font-style italic
	line-height 30px
	size 150px 30px
	text-align center
