@import 'ow/imports'

.ow-monitor
	overflow hidden
	position relative
	size 512px 512px
	
	&-cell
		background transparent none scroll 0 0 no-repeat
		float left
		position relative
		size 16px 16px
		
		&[ow-cell=c2]
			background-color #7F3300
			
			&.o-surface
				background-image url(../images/grass.png)
		
		&[ow-cell=c3]
			background-color #7F3300
			background-image url(../images/stone.png)
		
		&[ow-cell=c4]
			background black
		
		&[ow-cell=c6]
			background-color gray
			background-image url(../images/metan.png)
	
	&-digger
		background transparent none scroll 0 0 no-repeat
		position absolute
		size 16px 16px
		
		&[ow-option=o1]
			background-image url(../images/digger1.png)
		
		&[ow-option=o2]
			background-image url(../images/digger2.png)
		
		&[ow-option=o3]
			background-image url(../images/digger3.png)
	
	&-tubes
	&-punks
	&-punk-wins
	&-explosions
	&-punk-pwns
		position absolute
		xy 0 0
