@import 'ow/imports'

.ow-punk-win
	background transparent none scroll 0 0 no-repeat
	position absolute
	size 24px 32px
	
	&.o-right
		background-image url(../images/punk-win-right.png)
	
	&.o-left
		background-image url(../images/punk-win-left.png)
