@import 'ow/imports'

.ow-punk
	background transparent none scroll 0 0 no-repeat
	position absolute
	size 16px 24px
	
	&.o-right
		background-image url(../images/punk1-right.png)
		
		&.o-photo
			background-image url(../images/punk2-right.png)
		
		&.o-photing
			background-image url(../images/punk-photo-right.png)
	
	&.o-left
		background-image url(../images/punk1-left.png)
		
		&.o-photo
			background-image url(../images/punk2-left.png)
		
		&.o-photing
			background-image url(../images/punk-photo-left.png)
