@import 'ow/imports'

.ow-punk-pwn
	background transparent none scroll 0 0 no-repeat
	pointer-events none
	position absolute
	size 16px 16px
	
	&.o-right
		background-image url(../images/punk-pwn-right.png)
	
	&.o-left
		background-image url(../images/punk-pwn-left.png)
	
	&.o-arrest
		background-image url(../images/punk-arrest.png)
	
	&.o-auto
		margin-left -4px
		margin-top -4px
		size 24px 24px
		
		&.o-right
			background-image url(../images/auto-pwn-right.png)
		
		&.o-left
			background-image url(../images/auto-pwn-left.png)
