@import 'ow/imports'

.ow-punk-pwn
	background transparent none scroll 0 0 no-repeat
	position absolute
	size 16px 16px
	
	&.o-right
		background-image url(../images/punk-pwn-right.png)
	
	&.o-left
		background-image url(../images/punk-pwn-left.png)
	
	&.o-arrest
		background-image url(../images/punk-arrest.png)
