@import 'ow/imports'

.ow-tube
	position absolute
	background transparent none scroll 0 0 repeat
	
	&.o-v
		background-image url(../images/tube-v.png)
	
	&.o-h
		background-image url(../images/tube-h.png)
